

{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/listings/css/listings.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class = "listings-container">
            <h1> ADD a Listing </h1>
            <a href="addlisting/"> ADD </a>
        </div>
       
        <br>
        <div class = "listings-container">
            {% for listing in listings %} 
            <h1> <a href="/listings/{{ listing.id }}/"> {{listing.title}} </a>  </h1>
            <p> ${{listing.price}} </p>
            <img src="{{ listing.image.url }}" alt =""/>
            {% endfor %}
        </div> 
        
    </body>
</html>
{% endblock content %}